header {
    position: relative;
    height: 300px;
}

nav .nav-link:hover {
    background-color: yellow;
    cursor: pointer;
}

nav aside .card-body a {
    text-decoration: none;
    color: black;
}

aside .card-body a:hover {
    text-decoration: none;
    color: red;
    background-color: chartreuse;
    cursor: pointer;
}

.dropdown-menu a:hover {
    color: blue;
    background-color: orange;
    cursor: pointer;
}

footer {
    height: 50px;
    background-color: skyblue;
}

.row>article {
    min-height: 300px;
    background-color: mintcream;
}

.row>aside {
    min-height: 300px;
    background-color: cyan;
}

.card-header {
    color: orangered;
    font-weight: bold;
}

article .card-header:hover {
    background-color: khaki;
}

article .card:hover {
    background-color: beige;
}

article,
footer {
    font-family: UTM Androgyne;
}

aside {
    font-family: Bahnschrift SemiBold;
}

nav {
    font-family: Windsor;
}

article .card-footer:hover {
    background-color: lightsalmon;
}