<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="./images/cp.png">
    <title>Change - Password</title>
</head>

<body>
    <div class="container">
        <nav aria-label="breadcrumb" class="pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./homepage.html" style="text-decoration: none;">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Tài khoản</a></li>
                <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
            </ol>
        </nav>
        <div style="padding-left: 140px;">
            <div class="card card-signin my-5" style="width: 450px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-white"><i class="fas fa-sign-in-alt"></i> <b>Đổi mật khẩu</b></h5>
                    <form class="form-signin" name="frmDmk">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" ng-model="student.email" placeholder="Địa chỉ email" readonly>
                            <label for="inputEmail">Địa chỉ email</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="op" id="inputOldPassword" class="form-control" ng-minlength="2" ng-maxlength="30" ng-model="password" placeholder="Mật khẩu cũ" required>
                            <label for="inputOldPassword">Mật khẩu cũ</label>
                            <span ng-show="frmDmk.op.$invalid">
                                <div class="badge badge-danger ml-3">Tên từ 2 đến 30 ký tự </div>
                              </span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="np" id="inputNewPassword" class="form-control" ng-minlength="2" ng-maxlength="30" ng-model="psn" placeholder="Mật khẩu mới" required>
                            <label for="inputNewPassword">Mật khẩu mới</label>
                            <span ng-show="frmDmk.np.$invalid">
                                <div class="badge badge-danger ml-3">Tên từ 2 đến 30 ký tự </div>
                              </span>
                        </div>

                        <div class="form-label-group">
                            <input type="password" name="nrp" id="inputRepeatNewPassword" class="form-control" ng-minlength="2" ng-maxlength="30" ng-model="psnrp" placeholder="Nhập lại mật khẩu mới" required>
                            <label for="inputRepeatNewPassword">Nhập lại mật khẩu mới</label>
                            <span ng-show="frmDmk.nrp.$invalid">
                                <div class="badge badge-danger ml-3">Tên từ 2 đến 30 ký tự </div>
                              </span>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase mt-5" ng-click="changepassword()" type="submit"><i class="fas fa-sign-in-alt"></i> Đổi mật khẩu</button>

                    </form>
                </div>
            </div>
        </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>