<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="./css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="./images/fp.png">
    <title>Forgot Password</title>
</head>

<body>
    <div class="container">
        <div class="row pt-2" style="font-family: UTM Androgyne;">
            <h4 style="border-bottom: 1px solid #c5c5c5;" class="pb-1 text-danger h2">
                <i class="glyphicon glyphicon-user">
                    </i> Quyền truy cập tài khoản
            </h4>
            <div id="form-olvidado">
                <h4 class="h3 text-success">
                    Quên mật khẩu?
                </h4>
                <form accept-charset="UTF-8" role="form" id="login-recordar">
                    <fieldset>
                        <span class="help-block">
                                Địa chỉ email bạn sử dụng để đăng nhập vào tài khoản của mình                          
                          <br>
                          Nếu bạn nhập đúng email mật khẩu sẽ hiện ra!                          
                        </span>
                        <div class="form-group input-group">
                            <form name="forgot">
                                <div class="input-group-prepend pt-3">
                                    <span class="input-group-text">@</span>
                                    <input name="em" class="form-control" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" placeholder="Nhập email" ng-model="email" size="150" type="email" required/>
                                    <span ng-show="forgot.em.$invalid">
                                        <div class="badge badge-danger ml-3">Email phải có @ và .com </div>
                                      </span>
                                </div>
                            </form>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-click="forgot()" id="btn-olvidado">
                                <i class="fas fa-paper-plane"></i> Gửi yêu cầu
                        </button>
                        <p class="help-block">
                            <a class="text-muted" style="text-decoration: none;" href="http://127.0.0.1:5500/homepage.html#!/login" id="acceso"><small>Truy cập tài khoản</small></a>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js ">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js ">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js ">
</script>