<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="./css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="./images/modify.png">
    <title>Modify Account Infomation</title>
</head>

<body>
    <div class="container">
        <nav aria-label="breadcrumb" class="pt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!homepage.html" style="text-decoration: none;">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Tài khoản</a></li>
                <li class="breadcrumb-item active" aria-current="page ">Cập nhật hồ sơ</li>
            </ol>
        </nav>
        <div style="padding-left: 150px;">
            <div class="card card-signin my-5" style="width: 450px;">
                <div class="card-body">
                    <h5 class="card-title text-center text-primary"><b>  <i class="fas fa-pen-square"></i> Cập nhật hồ sơ</b></h5>
                    <form class="form-signin" name="frmEdit">
                        <div class="form-label-group">
                            <input type="text" name="user" id="inputUserame" ng-model="student.fullname" ng-minlength="2" ng-maxlength="30" class="form-control" placeholder="Họ và tên" required autofocus>
                            <label for="inputUserame"><i class="fas fa-user"></i> Vui lòng nhập tên của bạn</label>
                            <span ng-show="frmEdit.user.$invalid">
                                <div class="badge badge-danger ml-3">Tên từ 2 đến 30 ký tự </div>
                              </span>
                        </div>
                        <div class="form-label-group">
                            <input type="password" name="pass" id="inputPassword" ng-model="student.password" ng-minlength="2" ng-maxlength="30" class="form-control" placeholder="Mật khẩu" required>
                            <label for="inputPassword"><i class="fas fa-lock"></i> Vui lòng nhập mật khẩu</label>
                            <span ng-show="frmEdit.pass.$invalid">
                                <div class="badge badge-danger ml-3">Mật khẩu phải từ 2 đến 30 ký tự </div>
                              </span>
                        </div>

                        <div class="form-label-group">
                            <input type="number" name="dt" id="inputPhone" ng-pattern="/(84|0[3|5|7|8|9])+([0-9]{8})\b/" ng-model="student.phone" class="form-control" placeholder="Số điện thoại" required>
                            <label for="inputPhone"><i class="fas fa-phone-square-alt"></i> Vui lòng nhập số điện thoại</label>
                            <span ng-show="frmEdit.dt.$invalid">
                                <div class="badge badge-danger ml-3">Số điện thoại bắt đầu bằng số 0 và có 10 chữ số</div>
                              </span>
                        </div>

                        <div class="form-label-group">
                            <input type="email" name="em" id="inputEmail" ng-pattern="/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/" ng-model="student.email" class="form-control" placeholder="Email" required>
                            <label for="inputEmail"><i class="fas fa-envelope"></i> Vui lòng nhập email</label>
                            <span ng-show="frmEdit.em.$invalid">
                                <div class="badge badge-danger ml-3">Email phải có @ và .com </div>
                              </span>
                        </div>
                        <div class="form-group">
                            <label class="ml-3 font-weight-bold"><i class="fas fa-venus-mars"></i> Giới tính: </label>
                            <input type="radio" name="gender" value="true" ng-checked="student.gender=='true'" ng-model="student.gender" required> Nam
                            <input type="radio" name="gender" value="false" ng-checked="student.gender=='false'" ng-model="student.gender" required> Nữ
                        </div>
                        <div class="form-label-group">
                            <input type="number" name="hp" id="inputHP" ng-model="student.schoolfee" min="200000" ng-pattern="/^[0-9]{1,7}$/" class="form-control" placeholder="Học phí" required>
                            <label for="inputHP"><i class="fas fa-hand-holding-usd"></i> Vui lòng nhập học phí</label>
                            <span ng-show="frmEdit.hp.$invalid">
                                <div class="badge badge-danger ml-3">Học phí tối thiểu là 200.000 VNĐ</div>
                              </span>
                        </div>
                        <div class="form-group">
                            <label class="ml-3 font-weight-bold"><i class="fas fa-book"></i> Khóa học</label>
                            <select class="form-control" ng-model="student.subject" required>      
                                    <option ng-repeat="s in subjects" value="{{s.Id}}">{{s.Name}}</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label class="ml-3 font-weight-bold"><i class="fas fa-map-marker-alt"></i> Chi nhánh</label>
                            <select class="form-control" ng-model="student.cnhanh" required>
                                    <option ng-repeat="c in chinhanh" value="{{c.Id}}">{{c.Name}}</option>
                                </select>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" ng-click="edit()" type="submit"><i class="fas fa-pen-square"></i>  Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js ">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js ">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js ">
</script>